@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icons_fonts/icomoon.eot?f74fti');
  src:  url('../fonts/icons_fonts/icomoon.eot?f74fti#iefix') format('embedded-opentype'),
    url('../fonts/icons_fonts/icomoon.ttf?f74fti') format('truetype'),
    url('../fonts/icons_fonts/icomoon.woff?f74fti') format('woff'),
    url('../fonts/icons_fonts/icomoon.svg?f74fti#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-social-network:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-linkedin:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
